[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "iSEE"]
	path = iSEE
	url = https://github.com/isee/isee
[submodule "iSEEhex"]
	path = iSEEhex
	url = https://github.com/isee/iseehex
[submodule "iSEEhub"]
	path = iSEEhub
	url = https://github.com/isee/iseehub
[submodule "iSEEu"]
	path = iSEEu
	url = https://github.com/isee/iseeu
